# Bloker eksekvering af scripts i assets-mappen
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

# Forhindr sniffing af indholdstype
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
